* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.cnt-nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
}

#nav-logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
}


.container-cards{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 20px;
}

.card-movie{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  min-height: 500px;
  background-color: white;
  border: 1px solid chocolate;
  margin-bottom: 10px;
  gap: 5px;
}

.card-movie img {
  width: 100%;
  height: 600px;
}

.card-movie p{
  font-size: 0.95rem;
}

.card-btn-see{
  background-color: chocolate;
  border: none;
  padding: 7px 14px;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/* Moviepage */

.movie-header{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.movie-header img{
  width: 60%;
}

.card-film-info-review{
  width: 60%;
}

.movie-header h1{
  font-size: 1.3rem;
}

.card-film-review{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 50%;
}

.movie-header p{
  width: 50%;
}

/* Users card review */
.cnt-all-reviews{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-review{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2rem;
  width: 30%;
}

.user-review{
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
}

.btn-back-home{
  margin-top: 0.80rem;
  padding: 10px 12px;
  cursor: pointer;
}

.cnt-bottom-btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 6rem;
  margin-bottom: 2rem;
}

.cnt-all-form{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.form-input{
  display: flex;
  flex-direction: column;
}

input{
  width: 500px;
}

textarea{
  height: 150px;
}

.btn-submit-form{
  margin-top: 0.50rem;
  padding: 10px 20px;

}