* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #0b0c10;
  font-family: 'Poppins', sans-serif;
}

.cnt-nav {
  height: 50px;
  display: flex;
  background-color: #141414;
  /* border: 2px solid red; */
}

#nav-logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
}